body
{
    margin:0px;
    background-color: #F5F5F5;;
}
.header
{
    
    display: flex;
    width: 100%;
    padding:10px;
    background-color: white;
}
.logo-content
{
    display: flex;
    width: 40%;
    justify-content: center;
}
.logo-content img
{
    width:45px;
    height: 45px;
}
.text-content
{
    color: #4287f5;
    font-family: 'Roboto';
    margin-left: 10px;
    font-size:20px;
}
.text
{
    color: black;
}
.form-section
{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:40px;
}
.contact-form
{
    display:flex;
    width: 40%;
    justify-content:center;
    background-color:white;
    border:1px solid green;
    box-shadow: 1px 1px;
}
.form-header
{
    background-color: #4287f5;
    width:100%;
}
.form-header h3
{
    color:white;
    text-align: center;
    margin-top:20px;
    font-family: 'Poppins', sans-serif;
}