body
{
    margin:0px;
    background-color: #F5F5F5;;
}
.header
{
    
    display: flex;
    width: 40%;
    justify-content: center;
    margin-top:10px;
}
.logo-content
{
    display: flex;
    justify-content: center;
}
.logo-content img
{
    width:45px;
    height: 45px;
}
.text-content
{
    color: #4287f5;
    font-family: 'Roboto';
    margin-left: 10px;
    font-size:20px;
}
.text
{
    color: black;
}